@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.devider-banner {
    background-image: linear-gradient(to bottom, rgb(6, 51, 64), rgb(6, 51, 64));
    width: 100%;
    height: 300px;
}

.devider-content {
    padding: 60px;
}

.bdh {
    color: #05C411;
    font-family: 'Poppins', sans-serif;
    margin-right: 65px;
}

.bds {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-left: 75px;
}

.bdp {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}