/* kshfglaksvhl */

.exportbanner {
    margin-top: 0px;
    background: url(../../Assets/Export/37-1.jpg);
    width: 100%;
    background-position: bottom;
    background-size: cover;
    min-height: 60vh;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    box-shadow: 0px 40px 45px #00800013;
    background-attachment: scroll;
}

.centerexport {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 35PX;
    background-color: #008000;
    padding: 8px 30PX;
    border-radius: 10PX;
    overflow: hidden;
}

.exportpolicy {
    margin-top: -50px;
    background: url(../../Assets//bg_noise.jpg);
    min-height: 500px;
}


/* .custom-export {
    margin-left: 80px;
    padding-bottom: 50px;
    margin-bottom: 100px;
} */

.export-imgcaro img {
    width: 500px;
    height: 500px;
}


/* .imgcaro {
    width: 400px;
    height: 400px;
} */