.f1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.603);
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.f2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3a02993;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.f3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #279b489b;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.f4 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8f18389b;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.f5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cf8d2a9a;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.f6 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #49783eaf;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    color: white;
}

.flipimg {
    width: 300px;
    height: 300px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.colo1 {
    background-color: rgb(255, 0, 0);
}

.colo2 {
    background-color: #d3a029;
}

.colo3 {
    background-color: #279b48;
}

.colo4 {
    background-color: #8f1838;
}

.colo5 {
    background-color: #cf8d2a;
}

.colo6 {
    background-color: #49783e;
}

.flip-card-back p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.env-button {
    text-decoration: none;
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
    .env-button {
        display: block;
    }
    .envcontainer {
        margin-bottom: 50px;
    }
}