.Subbanner-root {
    margin-top: 100px;
    background-image: url(../../Assets/Mask\ Group.png);
    width: 100%;
    background-repeat: repeat;
    background-position: cover;
    background-size: cover;
}

.cusbottom {
    margin-top: -60px;
}

.typoicon {
    font-weight: bolder;
    color: #008000;
    text-decoration: none;
}

.subbanner h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #008000;
}

.sub-logo {
    height: 22px;
    width: 22px;
    margin-right: -7px;
    margin-top: 20px;
}

.bg {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .subbanner h1 {
        font-size: 25px;
        font-weight: bolder;
        color: #008000;
    }
}