.customContact {
    margin-top: 80px;
    padding: 30px;
}

.paperbg {
    background-image: url(../../Assets//bg_noise.jpg);
    padding-top: 20px;
    padding-bottom: 150px;
    margin-bottom: -198px;
}

.contactbanner {
    margin-top: 0px;
    background-image: url(../../Assets/customer-support-hotline-people-connect-phone-application-contact-us-man-cellphone.jpg);
    width: 100%;
    background-position: top;
    background-size: cover;
    min-height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.centercontact {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 35PX;
    background-color: rgba(0, 0, 0, 0.808);
    padding: 8px 30PX;
    border-radius: 10PX;
    overflow: hidden;
}


/* heading */

.contacttitle h1 {
    text-align: left;
    color: #008000;
    margin-left: 40px;
}

.contacttitle h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}