.manufacturingbanner {
    margin-top: 0px;
    background-image: url(../../Assets/Manufacturing/Manufacturing.png);
    width: 100%;
    background-position: inherit;
    background-size: cover;
    min-height: 70vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

.centermanufacturing {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 30PX;
    background-color: rgba(0, 0, 0, 0.808);
    padding: 8px 30PX;
    border-radius: 10PX;
    overflow: hidden;
}

.manubanner {
    margin-top: 100px;
}

.manufacturingtext h2 {
    color: #008000;
    font-weight: bold;
}

.manudetails {
    margin-top: 0px;
    background: url(../../Assets//bg_noise.jpg);
    min-height: 500px;
    padding-bottom: 150px;
    margin-bottom: -198px;
}

.manuicon {
    height: 100px;
    /* margin-top: 10px;
    margin-bottom: 40px; */
}

.manuicon img {
    /* height: 100px; */
    /* margin-top: 10px; */
    /* margin-bottom: 50px; */
    height: 400px;
    width: 400px;
}

.manuimg img {
    height: 500px;
    width: 500px;
    border-radius: 5px;
}

.manuitemdetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.manusubbanner {
    margin: 15px;
    margin-bottom: 80px;
}

.manucontent h3 {
    color: #008000;
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .manuicon {
        display: none;
    }
    /* .manucontent h3 {
        color: #008000;
        text-align: center;
    }
    .manucontent p {
        text-align: center;
    } */
    .manucontent {
        padding: 0px;
    }
}