.footerBackgeound {
    background-color: #063340;
    margin-top: 200px;
}

.cusfooter a {
    text-decoration: none;
    color: #008000;
    font-weight: bold;
}

.cusfooter ul {
    margin-bottom: 0px;
}

.cusfooter {
    text-align: left;
}

.parafooter {
    font-weight: 200;
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .cusfooter {
        display: none;
    }
    .parafooter {
        display: none;
    }
    .footerlogo img {
        height: 20px;
        width: 200px;
    }
}