.custombottombannerbackground {
    /* background-color: #f1f1f1; */
    background-image: url(../../Assets/resourse/eco-services-bg-img.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px;
    padding: 30px;
    margin-top: 150px;
    padding-bottom: 80px;
}

.cusbottom {
    padding: 15px;
    margin-bottom: 60px;
}

.cus-img-caro {
    height: 400px;
}

.bdpattern {
    position: absolute;
    margin-top: -180px;
}