.customCarosal {
    overflow-x: hidden;
}

.cusvideobackground {
    filter: brightness(50%);
    position: fixed;
    overflow-x: hidden;
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .customCarosal {
        display: none;
    }
}