/* text animation */

.swipe-in-text {
    position: relative;
}

.swipe-in-text :after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0%;
    bottom: 0;
    z-index: 1;
    background-color: #008000;
    animation: swipe-in-text 1s ease-out 1s forwards;
}

.text {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 1;
    animation: fade-in-text 0.01s linear 1.5s forwards;
}

@keyframes swipe-in-text {
    0% {
        width: 0%;
        right: 100%;
        left: 0%;
    }
    50% {
        left: 0%;
        width: 100%;
        right: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade-in-text {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cusbannartext {
    padding: 80px;
}

.bannerimg {
    filter: brightness(70%)
}

.banner-bg {
    margin-top: -10px;
    width: 100%;
    height: 72vh;
    background: url(../../Assets/farmer-work-rice-field.png);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bh {
    color: #008000;
    font-weight: 900;
}

.bp {
    color: white;
}

@media (min-width: 400px) {
    .custom-h1 {
        font-size: 30px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
    .glassEffect {
        display: none;
    }
}

@media (min-width: 576px) {
    .custom-h1 {
        font-size: 30px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .custom-h1 {
        font-size: 40px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .custom-h1 {
        font-size: 70px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
    .glassEffect {
        display: block;
    }
}

@media (min-width: 1200px) {
    .custom-h1 {
        font-size: 70px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
    .glassEffect {
        display: block;
    }
}

@media (min-width: 1400px) {
    .custom-h1 {
        font-size: 110px;
    }
    .responsive {
        margin: 10px 20px;
        padding: 20px;
    }
    .glassEffect {
        display: block;
    }
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .custom-h1 {
        font-size: 30px;
        text-align: center;
    }
    .responsive {
        overflow-x: hidden;
        /* background-image: url(../../Assets/image.jpg); */
        margin-left: 0px;
        margin-top: 0px;
        background-size: cover;
        background-position: center;
        filter: brightness(90%);
    }
    .cusbannartext {
        margin-top: 18vh;
    }
    .bh {
        font-size: 25px;
        letter-spacing: 3;
        margin-bottom: 15px;
        color: aliceblue;
    }
    .bp {
        color: #008000;
        font-size: 20px;
    }
    .custom-h1 {
        display: none;
    }
    .glassEffect {
        display: none;
    }
    .bp {
        text-align: center;
    }
    .bh {
        text-align: center;
    }
}